<div class="card border-warning">
  <div class="card-header">
   stat works!
  </div>
  <div class="card-body text-warning">
    <div class="row">
      <div class="col">
        <div class="card-body">
          Réseaux : {{stats.networks}} <br>
        </div>
      </div>
      <div class="col">
        <div class="card-body">
          Equipements : {{stats.equipments}}<br>
        </div>
      </div>
      <div class="col">
        <div class="card-body">
          Vulnérabilités : {{stats.vulnerabilities}}
        </div>
      </div>
    </div>
  </div>
</div>
